* {
  margin: 0;
  padding: 0;
}

html, body {
  background-image: url('./assets/HD_Back.avif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  margin: 0;
  padding: 0;
}

nav {
  height: 3rem;
  line-height: 3rem;
  color: white;
  padding-left: 2rem;
  margin-bottom: 1 rem;
  background-image: url('./assets/Banner_Background_1.jpg');
  background-size: cover; /* Ensure the background image covers the entire back */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Prevent the background image from repeating */
  font-family: "Patrick Hand", cursive;
}

.container {
  color:white;
}

#itemForm label {
display:block;
margin-bottom:1rem;
}

#itemForm input {
  height:2rem;
  text-align: center;
  border: 1px solid #bfbfbf;
  
}

#addItemButton {
  border:unset;
  background: #00805a;
  color: #fff;
  padding:0.5rem;
}

#itemsDiv {
  margin-top: 3rem;
  margin-bottom: 2rem;
  color:white;
  font-family: "Patrick Hand", cursive;
}
#totalDiversityScoreDiv {
color:white;
font-family: "Patrick Hand", cursive;
}

.item {
  color:black;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  background: white;
  border-radius: 999px;
  margin-bottom: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
  rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.custom-checkbox {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 50%; /* Make it round */
}

.custom-checkbox::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-color: #000;
  border-radius: 50%;
  display: none;
}

.checkbox:checked + .custom-checkbox::after {
  display: block;
}

.checkbox-label {
  display: flex;
  align-items: center; /* Center vertically */
}



.itemInfor {
  text-align: center;
}

.deleteButton {
  margin: 0 0 0 auto;
  border: unset;
  background: #750000;
  color: #fff;
  font-size: 0.8rem;
  width: 2.5rem;
  height: 100%;
  border-radius: 999px;
}

.deleteButton:active {
  margin-top: 3px;
  background: #3f0000
}

.eaten {
  background: #00805a;
  color: #fff;
}

.eaten e {
  text-decoration: line-through;
}


.eaten e {
  text-decoration: line-through;
}
